<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-3 space">
            <label class="title">Asignar rutas por role</label>
        </div>
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab *ngFor="let tab of rolesList; let i=index">
                    <ng-template mat-tab-label>{{tab.name}}</ng-template>
                    <br />
                    <div class="row" style="width: 97%; margin: 0 auto; text-align: center;">
                        <div class="col-md-12">
                            <div class="wrapper table table-responsive">
                                <table class="table table-responsive">
                                    <thead class="align-middle table table-responsive" style="background: #1a73e8;">
                                        <tr>
                                            <th>Asignar</th>
                                            <th>Nombre</th>
                                            <th>Ruta</th>
                                            <th>Crear</th>
                                            <th>Seleccionar</th>
                                            <th>Detalle</th>
                                            <th>Actualizar</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table table-responsive">
                                        <tr *ngFor="let route of tab.rutasAsignadasRole; let x=index">
                                            <td>
                                                <nz-switch [(ngModel)]="route.inUse" [nzControl]="true" (click)="SelectedItem(tab.id, route.id, route.inUse)" [nzLoading]="loading"></nz-switch>
                                            </td>
                                            <td>{{route.nombre}}</td>
                                            <td>{{route.ruta}}</td>
                                            <td>
                                                <nz-switch [nzDisabled]="!route.inUse" [(ngModel)]="route.crear" [nzControl]="true" 
                                                    (click)="clickSwitch(route.moduloUserRole.id, 0, route.crear)" [nzLoading]="loading"></nz-switch>
                                            </td>
                                            <td>
                                                <nz-switch [nzDisabled]="!route.inUse" [(ngModel)]="route.seleccionar" [nzControl]="true" 
                                                    (click)="clickSwitch(route.moduloUserRole.id, 1, route.seleccionar)" [nzLoading]="loading"></nz-switch>
                                            </td>
                                            <td>
                                                <nz-switch [nzDisabled]="!route.inUse" [(ngModel)]="route.detalle" [nzControl]="true" 
                                                    (click)="clickSwitch(route.moduloUserRole.id, 2, route.detalle)" [nzLoading]="loading"></nz-switch>
                                            </td>
                                            <td>
                                                <nz-switch [nzDisabled]="!route.inUse" [(ngModel)]="route.editar" [nzControl]="true" 
                                                    (click)="clickSwitch(route.moduloUserRole.id, 3, route.editar)" [nzLoading]="loading"></nz-switch>
                                            </td>
                                            <td>
                                                <nz-switch [nzDisabled]="!route.inUse" [(ngModel)]="route.eliminar" [nzControl]="true" 
                                                    (click)="clickSwitch(route.moduloUserRole.id, 4, route.eliminar)" [nzLoading]="loading"></nz-switch>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>