.wrapper {
    width: 85%;
    padding: 12px;
    background: white;
    height: 100vh;
    text-align: justify;
    line-height: 0%;
}

.wrapper h1 {
    padding-top: 30px;
    font-weight: bold;
    text-align: center;
}

.wrapper h3 {
    padding: 4%;
}

.wrapper h3.subtitle {
    padding-top: 30px;
    font-style: italic;
    text-align: center;
}