.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 15px;
  align-items: center;
  display: grid;
}

.layout {
  min-height: 100vh;
}
nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 60px;
  margin: 17px 0;
}

nz-footer {
  text-align: center;
}
span.anticon {
  float: left;
}
.search-content {
  float: left;
  max-width: 500px;
  width: calc(95% - 128px);
}
.right {
  float: right !important;
}
